.video-container {
    width: 100%;
    height: 100%;
}
.video-container video {
    height: 100%;
    width: auto;
}
.bg-faded{
	background: #EBFCFF;
}
.dejavu-icon{
	width: 60px;
	height: 60px;
}
.jumbotron{
	/*background: #663fb5 url(../img/bg-header.jpg) no-repeat center bottom;*/
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(29,98,122,1) 55%, rgba(46,154,191,1) 80%, rgba(59,199,246,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(11%, rgba(0,0,0,1)), color-stop(55%, rgba(29,98,122,1)), color-stop(80%, rgba(46,154,191,1)), color-stop(100%, rgba(59,199,246,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(29,98,122,1) 55%, rgba(46,154,191,1) 80%, rgba(59,199,246,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(29,98,122,1) 55%, rgba(46,154,191,1) 80%, rgba(59,199,246,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(29,98,122,1) 55%, rgba(46,154,191,1) 80%, rgba(59,199,246,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(29,98,122,1) 55%, rgba(46,154,191,1) 80%, rgba(59,199,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3bc7f6', GradientType=0 );
}

.hero__background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.air-slideshow {
    overflow: hidden;
    position: relative;
}
.hero__background video {
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    display: inline-block;
    opacity: 0.05;
}
.js-hero.play .hero__background video {
	opacity: 1;
}
.hero_content{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	text-align: center;
}
.vertical-0{
	display: table;
	height: 100%;
	width: 100%;
}
.vertical-1{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.js-hero .hero_content {
	background: rgba(255,255,255,0.50);
    color: #00D3FF;
}
.js-hero.play .hero_content {
	background: rgba(255,255,255,0.05);
}
.js-hero .fa-pause,
.js-hero.play .fa-play{
	display: none;
}
.js-hero.play .fa-pause{
	display: inline-block;
}
.js-hero.play .dejaVu-content,
.js-hero.play .dejaVu-icon-strip {
	opacity: 0.02;
}
.js-hero .hero_content a{
	color: #fff;
}
.dejaVu-icon-strip,
.dejavu-icon {
	transition: all 0.5s;
}
.pd-0{
	padding: 0;
}
.img-responsive {
	max-width: 100%;
	padding-bottom: 20px;
}
/*.dejaVu-icon-strip.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background:rgba(49, 47, 56,0.90);
	text-align: left;
	z-index: 2;
}
.dejaVu-icon-strip.fixed .dejaVu-icon{
	width: 50px;
	margin: 10px 0 !important;
}*/
.section-footer .nav-media{
	text-align: right;
}
.section-footer .nav-inline{
	text-align: left;
}
.section-footer.bg-inverse{
	color: #00D3FF;
	background: #fff;
}
.roadmap-btn {
	color: #000 !important;
}
.compare-btn {
	color: #00D3FF !important;
}
.video-play{
	padding: 20px;
    background: #fff;
    color: #000;
    border-radius: 100%;
    width: 66px;
    height: 66px;
}
.try-it-btn {
	background: #fff;
	color: #000 !important;
}
.btn>span.fa-play{
	margin: 0;
    padding-left: 3px;
    font-size: 30px;
    line-height: 26px;
    color: #000;
}
.btn>span.fa-pause{
    font-size: 30px;
    line-height: 26px;
    margin-left: -2px;
    color: #000;
}
.p-text{
	padding: 20px 0;
	font-size: 20px;
}
.theme-color{
	color: #3BC7F6 !important;
}
.section-footer{
	padding:0;
}
.section-footer .media,
.section-footer .nav-inline>li a
{
	padding: 1rem 0;
	margin: 0;
}
.section-footer .nav-inline{
	padding: 0
}

.bg-img {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	opacity: 0.5;
}
.bg-img img {
	display: table-cell;
	vertical-align: middle;
}

.js-hero.play .bg-img {
	display: none;
}