[submodule "packages/browser/src/batteries"]
	path = packages/browser/src/batteries
	url = https://github.com/appbaseio/batteries
[submodule "packages/dejavu-main/app/src/batteries"]
	path = packages/dejavu-main/app/src/batteries
	url = https://github.com/appbaseio/batteries
