table {
    border-collapse: collapse;
}

th:first-child {
    text-align: left;
}

th:not(:first-child),
td:not(:first-child) {
    text-align: right;
}

th:last-child,
td:last-child {
    text-align: center;
}

th, td {
    max-width: 740px;
    width: 150px;
    border: solid 1px #DDDDDD;
    padding: 5px;
    text-align: center;
}

th {
    font-weight: bolder;
    text-align: center;
}

.input {
    position: absolute;
    left: 0px;
}

.last-positive {
    background: green;
    color: #FFFFFF;
}

.last-negative {
    background: red;
    color: #FFFFFF;
}

.change-positive {
    color: green;
}

.change-negative {
    color: red;
}

.row-types {
    margin: 10px 0;
    left: 100px;
    top: 100px;
    position: absolute;
    display: inline;
}

.row-data {
    margin: 10px 0;
    left: 400px;
    top: 100px;
    position: absolute;
    display: inline;
}

.container {
    width: 552px;
}

.table-hover {
    display: inline;
}

.checkBox {
    position: absolute;
    left: 10px;
}

.checkboxLabel {
}

/* Griddle */

.griddle-container{
  border:1px solid #DDD;
}

.griddle .top-section{
  clear:both;
  display:table;
  width:100%;
}

.griddle .griddle-filter{
  float:left;
  width:50%;
  text-align:left;
  color:#222;
  min-height:1px;
}

.griddle .griddle-settings-toggle{
  float:left;
  width:50%;
  text-align:right;
}

.griddle .griddle-settings{
  background-color:#FFF;
  border:1px solid #DDD;
  color:#222;
  padding:10px;
  margin-bottom:10px;
}

.griddle .griddle-settings .griddle-columns{
  clear:both;
  display:table;
  width:100%;
  border-bottom:1px solid #EDEDED;
  margin-bottom:10px;
}

.griddle .griddle-settings .griddle-column-selection{
  float:left;
  width:20%;
}
.griddle table{
  width:100%;table-layout:auto;
}

.griddle th{
  background-color:#EDEDEF;
  border:0px;
  border-bottom:1px solid #DDD;
  color:#222;
  padding:5px;
  word-wrap: break-word;
}

.griddle td{
  padding:5px;
  background-color:#FFF;
  border-top-color:#DDD;
  word-wrap: break-word;
  text-align: center;
  color:#222;
}

.griddle .footer-container{
  padding:0px;
  background-color:#EDEDED;
  border:0px;
  color:#222;
}

.griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next{
  float:left;
  width:33%;
  min-height:1px;
  margin-top:5px;
}

.griddle .griddle-page{
  text-align:center;
}

.griddle .griddle-next{
  text-align:right;
}