table {
    border: 1px solid #B6EF7E;
}

th:first-child {
    text-align: center;
}

th:not(:first-child),
td:not(:first-child) {
    text-align: center;
}

th:last-child,
td:last-child {
    text-align: center;
}

th, td {
    max-width: 740px;
    width: 150px;
    border: solid 1px #DDDDDD;
    padding: 5px;
    text-align: center;
}

th {
    font-weight: bolder;
    text-align: center;
}

.types-table {
    margin: 1em 2em;
    top: 100px;
    position: absolute;
    left: 1em;
    display: inline;
    max-height: 20em;
}

.checkBox {
    position: absolute;
    left: 10px;
}

.checkBoxLabel {
  position: relative;
  display: inline-block;
}

.columnsDropdown {
  overflow-y: scroll;
}

.table-container {
  left: 20em;
  height: 35em;
  width: 60em;
  overflow: auto;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  position: absolute;
  border: 2px solid #B6EF7E;
}

.dropdown-menu {
  overflow: scroll;
  height: 20em;
}

.custom-json-body {
  height: 30em;
  overflow: auto;
}

.dejavu-dropdown {
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 15em;
}

.row-updated {
    background: '#86DDF8';
}

.row-new {
    background: '#B6EF7E';
}

.dejavu-table {
  left: 5em;
}

.exp-scrollable {
  overflow-y:scroll;
}
