@font-face {
    font-family: 'Source Sans Pro Extra Light Italic';
    src: url('../fonts/sourcesanspro-extralightit.eot');
    src: url('../fonts/sourcesanspro-extralightit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-extralightit.woff2') format('woff2'),
         url('../fonts/sourcesanspro-extralightit.woff') format('woff'),
         url('../fonts/sourcesanspro-extralightit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/sourcesanspro-light.eot');
    src: url('../fonts/sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-light.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light.woff') format('woff'),
         url('../fonts/sourcesanspro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('../fonts/sourcesanspro-regular.eot');
    src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular.woff') format('woff'),
         url('../fonts/sourcesanspro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../fonts/sourcesanspro-bold.eot');
    src: url('../fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-bold.woff2') format('woff2'),
         url('../fonts/sourcesanspro-bold.woff') format('woff'),
         url('../fonts/sourcesanspro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Extra Light';
    src: url('../fonts/sourcesanspro-extralight.eot');
    src: url('../fonts/sourcesanspro-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-extralight.woff2') format('woff2'),
         url('../fonts/sourcesanspro-extralight.woff') format('woff'),
         url('../fonts/sourcesanspro-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Source Sans Pro Semi Bold';
    src: url('../fonts/sourcesanspro-semibold.eot');
    src: url('../fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semibold.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold.woff') format('woff'),
         url('../fonts/sourcesanspro-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light Italic';
    src: url('../fonts/sourcesanspro-lightit.eot');
    src: url('../fonts/sourcesanspro-lightit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-lightit.woff2') format('woff2'),
         url('../fonts/sourcesanspro-lightit.woff') format('woff'),
         url('../fonts/sourcesanspro-lightit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Italic';
    src: url('../fonts/sourcesanspro-it.eot');
    src: url('../fonts/sourcesanspro-it.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-it.woff2') format('woff2'),
         url('../fonts/sourcesanspro-it.woff') format('woff'),
         url('../fonts/sourcesanspro-it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
//here
@font-face {
    font-family: 'Source Sans Pro Semibold Italic';
    src: url('../fonts/sourcesanspro-semiboldit.eot');
    src: url('../fonts/sourcesanspro-semiboldit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semiboldit.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semiboldit.woff') format('woff'),
         url('../fonts/sourcesanspro-semiboldit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Black Italic';
    src: url('../fonts/sourcesanspro-blackit.eot');
    src: url('../fonts/sourcesanspro-blackit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-blackit.woff2') format('woff2'),
         url('../fonts/sourcesanspro-blackit.woff') format('woff'),
         url('../fonts/sourcesanspro-blackit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Black';
    src: url('../fonts/sourcesanspro-black.eot');
    src: url('../fonts/sourcesanspro-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-black.woff2') format('woff2'),
         url('../fonts/sourcesanspro-black.woff') format('woff'),
         url('../fonts/sourcesanspro-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Bold Italic';
    src: url('../fonts/sourcesanspro-boldit.eot');
    src: url('../fonts/sourcesanspro-boldit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-boldit.woff2') format('woff2'),
         url('../fonts/sourcesanspro-boldit.woff') format('woff'),
         url('../fonts/sourcesanspro-boldit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
