/*------------------------------------------ checkboxes ----------------------------------------------------*/
label {
  font-weight: 500;
}
.waiting {
  position: absolute;
  top: 50%;
  left: 50%;
}
.pd-0{
  padding: 0 !important;
}
.pd-r0{
  padding-right: 0;
}
.pd-l0{
  padding-left: 0;
}
.pd-r10{
  padding-right: 10px;
}
.pr-5{
  padding-right: 5px !important;
}
.m-r5{
  margin-right: 5px;
}
.m-r10{
  margin-right: 10px;
}
.m-0{
  margin: 0;
}
.mt-10{
  margin-top: 10px;
}
.mt-5{
  margin-top: 5px;
}
.clearfix{
  clear: both;
}
.removeFilter{
  background: #3BC7F6;
  color: #fff;
  /* padding: 10px; */
  display: inline-block;
  /* float: right; */
  border-radius: 4px;
}
.removeFilter:hover,
.removeFilter:active,
.removeFilter:focus{
  color: #fff;
}
.removeFilter:hover .close-btn{
  color: #555;
}
.outsideTable{
  position: relative;
  height: 100%;
  padding-top: 40px;
}
.infoRow{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 5px 22px;
  background: #f8fafb;
  border-bottom: 1px solid #eee;
  z-index: 5;
}
.infoRow .info_single{
  line-height: 28px;
}
.recordTotalRow{
  margin: 0;
  height: 28px;
}
.removeFilter .inside-info{
  padding: 5px 10px;
  display: inline-block;
}
.removeFilter .close-btn{
  padding: 5px;
  display: inline-block;
  background: skyblue;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.signal-circle, .removeFilterbtn{
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #888;
    cursor: pointer;
    float: right;
    position: relative;
}
.signal-circle:before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 2px solid #fff;
}

.removeFilterbtn{
  left: 230px;
  line-height: 2.5rem;
  font-size: 2rem;
  text-align: center;
}
.tableHead{
  cursor: pointer;
}
  .spinner {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.20);
    border-radius: 100%;
  }
  .spinner.active{
    background-color: #333;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


/*Style changes according to intercom*/
body{
  background: transparent;
}
.dejavuContainer{
  border: 1px solid #ddd;
}
.dejavuContainer,
.typeContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
.init-ES, footer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  background: #eee;
  padding: 5px;
  padding-right: 130px;
  padding-left: 47px;
  border-bottom: 1px solid #ddd;
}
footer{
  top: auto;
  bottom: 0;
  padding-right: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 0;
}
.init-ES .submit-btn{
  position: absolute;
  right: 5px;
  width: 125px;
}
.init-ES .share-btn {
  position: absolute;
  left: 5px;
  width: 20px;
}
.init-ES h1,
.init-ES .img-container{
  display: none;
}
.EsBigForm{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: #eee;
  text-align: center;
}
.EsBigForm h1,
.EsBigForm .form-group,
.EsBigForm .submit-btn-container,
.EsBigForm .img-container{
  width: 100%;
  margin-bottom: 15px;
}
.EsBigForm .img-container{
  margin-bottom: 70px;
}
.EsBigForm .esContainer{
  margin: 0 auto 15px auto;
  max-width: 700px;  
}
.EsBigForm h1{
  display: block;
  margin:-44px 0 30px 0;
}
.EsBigForm .submit-btn-container{
  float: left;
}
.EsBigForm .vertical0{
  display: table;
  width: 100%;
  height: 100%;
}
.EsBigForm .vertical1{
  display: table-cell;
  vertical-align: middle;
}
.typeContainer{
  width: 270px;
  border-right: 1px solid #eee;
  padding: 15px;
  background: #f8fafb;
  z-index: 2;
  padding-top: 44px;
}
.dataContainer{
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  padding: 44px 0 44px 270px;
}
.highlight-tip {
  background: #f5e79e;
  border-radius: 10px;
  padding: 8px;
  margin-top: 30px;
}
.dejavu-table{
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: auto;
}
.dejavu-dropdown .ab-menu-item{
  padding-left: 15px;
}
.table-container {
    width: 100%;
    padding: 42px 0 0 0;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    height: 100%;
    position: relative;
}
.table-scroller{
  width: 1000px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
}
.table-fixed-head{
  position: absolute;
  top: 0;
  padding: 7px 0 0 10px;
  white-space: nowrap;
  height: 42px;
  overflow: inherit !important;
  background: #fff;
}
.table-fixed-head .bracketIcon{
  margin-top: -3px;
}
.table-fixed-head.sortActive,
.table-fixed-head.filterActive{

}
.table-fixed-head.filterActive .filterBtn,
.table-fixed-head.sortActive .sortIcon{
  opacity: 1;
}
.table-fixed-head .asc-icon,
.table-fixed-head.sortActive.false .desc-icon{
  display: none;
}
.table-fixed-head.sortActive.true .desc-icon{
  display: inline-block;
}
.table-fixed-head.sortActive.false .asc-icon{
  display: inline-block;
}
.dejavu-table .table>thead>tr>td,
.dejavu-table .table>thead>tr>th,
#data-table{
  border: 0 !important;
  background: #fff;
}
.table>thead>tr>th{
  padding: 0;
}
.dejavu-table .table>tbody>tr>td,
.dejavu-table .table>tbody>tr>th,
.dejavu-table .table>tfoot>tr>td,
.dejavu-table .table>tfoot>tr>th{
  border-color: #eee;
}
.jsonTitle {
  padding: 5px 8px;
  line-height: 1.5em;
  background: #f0f0f0;
}
.nestedJson .custom-json-body.hljs{
  margin: 0;
  border: 0;
}
.nestedJson .popover-content{
  padding: 0;
}
.nestedJson.popover.left>.arrow:after{
  border-left-color: #f0f0f0;
}
.nestedJson.popover.right>.arrow:after{
  border-right-color: #f0f0f0;
}
.nestedJson .share_content {
    background: #f0f0f0;
    padding: 5px;
}
.column_width{
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  overflow: hidden;
}
.columnAdjust{
  padding-top: 14px !important;
}
/*.export-record-btn,
.import-record-btn{
  position: absolute;
  top: 14px;
  right: 60px;
}*/
.add-record-container{
  display: inline-block;
  float: right;
}
.add-record-btn{
  position: relative;
  top: auto;
  right: auto;
  float: right;
}
.AddExtraBtn{
  position: absolute;
  bottom: 100px;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.AddExtraBtn .add-record-container{
  width: 100%;
}
.AddExtraBtn .add-record-link{
  cursor: pointer;
  font-size: 20px;
}
.AddExtraBtn .add-record-link:hover{
  text-decoration: none;
}
.export-record-btn{
  right: 102px;
}
.import-record-btn{
  right: 144px;
}
.small-span {
  font-size: 10px;
  font-weight: normal;
}
.form-group.has-error .help-block{
  display: block;
}
.form-group .help-block{
  display: none;
}

/*Import Export*/
.switchContainer{
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0;
  margin-bottom: 15px;
}
.switchContainer .switch{
  border: 0;
  border-right: 1px solid #aaa;
  border-radius: 0;
}
.switchContainer .switch:first-child{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.switchContainer .switch:last-child{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border: 0;
}
.ieContainer{
  padding:15px 15px 0 285px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.ieContainer .well{
  background: #fff;
}
.headText{
  position: relative;
}
.headText .thtextShow{
  padding-right: 40px;
  line-height: 30px;
}
.headText .thtextShow.leftGap{
  padding-left: 26px;
}
.headText .iconList{
  position: absolute;
  right: 5px;
  top:0;
  float: right;
}

.headText .iconList .sortIcon,
.headText .iconList .filterIcon{
  display: inline-block;
  float: right;
  margin-top: 5px;
}
.sortIcon, .filterBtn{
  opacity: 0.2;
}
.headText:hover .sortIcon,
.headText:hover .filterBtn,
.headText.active .sortIcon,
.headText.active .filterBtn{
  opacity: 1;
}
.headText .iconList .filterIcon{
  z-index: 99999;
  margin-right: 10px;
}
.filterDropdown:hover .filterDropdownContainer,
.filterDropdown.active .filterDropdownContainer{
  display: block;
}
.filterDropdown .filterBtn{
  padding: 0;
  background: transparent;
  border: 0;
  box-shadow: none;
}
.filterBtn:hover{
  box-shadow: none;
}
.filterDropdown .filterBtn .caret{
  display: none;
}
.menuItems{
  width: 200px;
}
.singleItem{
  padding: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 !important;
}
.singleItem .btn{
  float: none;
}
.singleItem input[type="text"]{
  font-weight: lighter;
  padding: 0 5px;
  height: 26px;
}
.singleItem .searchElement,
.singleItem.active label .lableText{
  display: none;
}
.radio{
  z-index: 1;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.radio label{
  line-height: 14px;
  display: block;
}
.singleItem.active .searchElement{
  display: block;
  padding-left: 25px;
  margin-top: -30px;
  z-index: 2;
  position: relative;
}
.appId{
  float: left;
  width: 250px;
  padding-left:26px;
  position: relative;
}
.appId .selectrow{
  position: absolute;
  left: 0;
  top: -2px;
  z-index: 2;
  cursor: pointer;
  display: none;
}
.appId:hover .selectrow,
.appId.showRow .selectrow{
  display: inline-block;
}
.appId .selectrow input{
  cursor: pointer;
}
.bracketIcon{
  width: 34px;
  height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eee;
  line-height: 30px;
  float: left;
  color: #3BC7F6;
  position: relative;
}
.bracketIcon:hover,
.bracketIcon:focus,
.bracketIcon:active{
  text-decoration: inherit;
  outline: none;
  border-color: #ddd;
}
.bracketIcon:before{
  content: "{...}"
}
.appId .appId_name{
    display: inline-block;
    float: left;
    border: 1px solid #eee;
    border-left: 0;
    padding-left: 20px;
    padding-right: 5px;
    margin-left: -15px;
    line-height: 30px;
    max-width: 190px;
    overflow: hidden;
    height: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
     -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
#for-copy {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text; 
}
.appId .appId_appname {
     display: inline-block;
    float: left;
}
.left-tab{
  height: 100%;
}
.typesList{
  height: 100%;
  padding-bottom: 80px;
  overflow: auto;
}
.ieButton{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.ieButton.withframe {
  bottom: 30px;
}
.feature-list{
  list-style: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e1e1e1;
}

.feature-list li{

}
.feature-list li a{
  width: 100%;
  background: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
  color: #000;
}
.feature-list li a img{
  width: 30px;
  padding-right: 10px;
}
.feature-list li:last-child a{
    border-bottom: 0;
}
.feature-list li a:hover{
  background: #f1f1f1;
  text-decoration: none;
}
.loadingBtn .fa,
.loadingBtn.loading .submitText{
  display: none;
}
.loadingBtn.loading .fa{
  display: block;
}
.inlineBlock{
  display: inline-block;
}
.themeBtn{
  padding: 3px 6px;
}
.checkbox input[type="checkbox"], .checkbox input[type="radio"]{
  cursor: pointer;
}
.full_page_loading {
  display: none;
}
.pageLoading, .full_page_loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(100,100,100,0.25);
  text-align: center;
  display: table;
}
.pageLoading .vertical1, .full_page_loading .vertical1{
  display: table-cell;
  vertical-align: middle;
}
.export-json-btn{
  line-height: 21px;
}
.powered_by{
  position: absolute;
  right: 5px;
}
iframe{
  border: 0 !important;
}
.github-star{
  position: absolute;
  left: 5px;
}
.modal .modal-content{
  background: #fff;
  border-radius: 4px;
  border: 3px solid;
  border-color: #3BC7F6;
}
.modal .modal-header{
  border: 0;
  padding: 5px 15px 0 15px;
  color: #3BC7F6;
}
.modal .modal-header .close{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid;
  font-size: 14px;
  line-height: 0px;
  padding: 3px 0;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 5px;
  margin-top: 0;
  background: transparent;
  opacity: 1;
  color: #3BC7F6;
}
.modal .btn-success{
  background: transparent;
  color: #3BC7F6;
  border-color: #3BC7F6;
}
.modal .btn-success:hover{
  background: #3BC7F6;
  color: #fff;
}
.modal .btn-info {
  background: transparent;
  color: #3BC7F6;
  border-color: #3BC7F6;
}
.modal .btn-info:hover {
  background: #3BC7F6;
  color: #fff;
}
.modal.modal-info .modal-content{
  border-color: #3BC7F6;
}
.modal.modal-warning .modal-content{
  border-color: #F5E79E;
}
.modal.modal-warning .modal-header{
  color: #F5E79E;
}
.modal.modal-warning .close{
  color: #F5E79E;
}
.modal .btn-warning{
  background: transparent;
  color: #F5E79E;
  border-color: #F5E79E;
}
.modal .btn-warning:hover {
  background: #F5E79E;
  color: #fff;
}
.modal .btn-danger{
  background: transparent;
  color: #FF8484;
  border-color: #FF8484;
}
.modal .btn-danger:hover{
  background: #FF8484;
  color: #fff;
}
.modal.modal-danger .modal-content{
  border-color: #FF8484;
}
.modal.modal-danger .modal-header{
  color: #FF8484;
}
.modal.modal-danger .close{
  color: #FF8484;
}

.autocomplete {
  position: relative;
  width: 100%;
  z-index: 999;
  text-align: left;
}
.autocomplete .search {
  width: 100%;
}
.autocomplete .autolist {
  list-style: none;
  position: absolute;
  left: 0;
  top: 35px;
  background: #fff;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border: 1px solid;
  padding: 0;
  border-radius: 4px;
}
.autocomplete .autolist li {
  cursor: pointer;
  padding: 6px 12px;
}
.ib {
  display: inline-block;
  padding-right: 10px;
}
.EsBigForm .splashIn {
  width: 80%;
  margin-left: 10%;
}
.select2-container--default .select2-selection--multiple {
  border-color: #ccc;
}
.EsBigForm .esContainer{
  margin: 0 auto 15px auto;
  max-width: 768px;  
}
/*Color Schemes*/
.theme-element.checkbox input[type="checkbox"]:checked + label::after,
.theme-element.checkbox input[type="radio"]:checked + label::after{
  background: #3BC7F6;
  color: #fff;
}
.theme-element.radio label::after{
  background: #3BC7F6;
}
.btn-primary,
.autocomplete .autolist li:hover{
  background: #3BC7F6;
  color: #fff;
  border-color: transparent;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
  border-color: #2F9ED5;
  background: #2F9ED5;
}
.greyBtn{
  color: #6e8593;
}
.autocomplete .autolist, .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #3BC7F6;
}
