table {
    border-collapse: collapse;
}

th:first-child {
    text-align: left;
}

th:not(:first-child),
td:not(:first-child) {
    text-align: right;
}

th:last-child,
td:last-child {
    text-align: center;
}

th, td {
    max-width: 740px;
    width: 100px;
    border: solid 1px #DDDDDD;
    padding: 5px;
    text-align: left;
}

th {
    font-weight: bolder;
}

.input {
    position: absolute;
    left: 0px;
}

.last-positive {
    background: green;
    color: #FFFFFF;
}

.last-negative {
    background: red;
    color: #FFFFFF;
}

.change-positive {
    color: green;
}

.change-negative {
    color: red;
}

.row-types {
    margin: 10px 0;
    left: 100px;
    top: 100px;
    position: absolute;
    display: inline;
}

.row-data {
    margin: 10px 0;
    left: 400px;
    top: 100px;
    position: absolute;
    display: inline;
}

.container {
    width: 552px;
}

.table-hover {
    display: inline;
}